$font-sawarabi: "Sawarabi Mincho";

* {
  box-sizing: border-box;
  font-family: $font-sawarabi;
}
a {
  text-decoration:none !important;
}

h1{
  margin: 20px 0; 
  font-size: 30px;
}


.contents{
  padding: 0 100px;
}

.new-task{
  margin-bottom: 10px;
}

td {
  div{
    margin-bottom: 20px;
  }
}
